.articles {
	position: relative;

	.article-img-left {
		position: absolute;
		top: -140px;
		left: 0;
	}
	.article-img-right {
		position: absolute;
		right: 0;
		bottom: -130px;
	}

	.container {
		.articles-flex-row{
			display: flex;
			justify-content: space-between;

			.articles__content-box {

				hr {
					width: 52px;
					height: 3px;
					border: 3px solid #232323;
					margin-top: 35px;
				}

				.article__title {
					font-size: 36.4px;
					line-height: 36px;
					font-weight: 700;
					letter-spacing: -0.025em;
					color: #232323;
					padding-top: 35px;
					max-width: 230px;
				}

				.article__text {
					font-family: Lato;
					font-size: 16.7px;
					line-height: 1.2;
					font-weight: 400;
					letter-spacing: -0.025em;
					color: #232323;
					padding-top: 35px;
					max-width: 360px;
				}
			}
		}
	}
}