@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: Lato;
}

.title {
  font-family: Cardo;
}

.header {
  margin-top: 97px;
}
.header .container {
  margin: 0 auto;
}
.header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__row .header__menu .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__row .header__menu .header__links li {
  margin-left: 77px;
}
.header .header__row .header__menu .header__links li:nth-child(1) a {
  font-size: 20.9px;
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-weight: 700;
  color: #232323;
  text-shadow: 0 1px 0 #232323;
}
.header .header__row .header__menu .header__links li a {
  font-size: 20.9px;
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-weight: 300;
  color: #898991;
}
.header .header__row .header__button {
  display: block;
  text-align: center;
  padding-top: 10px;
  width: 218px;
  height: 57px;
  border: 3px solid #232323;
  border-radius: 5px;
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #232323;
  text-shadow: 0 1px 0 #232323;
}

.create-a-memory {
  background-color: #232323;
  position: relative;
}
.create-a-memory .create-a-memory__left-img {
  position: absolute;
  top: 50px;
  left: 0;
}
.create-a-memory .create-a-memory__right-img {
  position: absolute;
  bottom: 75px;
  right: 0;
}
.create-a-memory .container {
  max-width: 440px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 170px;
}
.create-a-memory .container .create-a-memory__title {
  font-size: 55.5px;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #e9e7e7;
  padding-top: 50px;
  margin-bottom: 40px;
}
.create-a-memory .container .create-a-memory__text {
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #e9e7e7;
  margin-bottom: 40px;
}
.create-a-memory .container .create-a-memory__button {
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #e9e7e7;
  background-color: #232323;
  width: 259px;
  height: 57px;
  border: 3px solid #e9e7e7;
  border-radius: 5px;
  margin-bottom: 50px;
}

.articles {
  position: relative;
}
.articles .article-img-left {
  position: absolute;
  top: -140px;
  left: 0;
}
.articles .article-img-right {
  position: absolute;
  right: 0;
  bottom: -130px;
}
.articles .container .articles-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articles .container .articles-flex-row .articles__content-box hr {
  width: 52px;
  height: 3px;
  border: 3px solid #232323;
  margin-top: 35px;
}
.articles .container .articles-flex-row .articles__content-box .article__title {
  font-size: 36.4px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #232323;
  padding-top: 35px;
  max-width: 230px;
}
.articles .container .articles-flex-row .articles__content-box .article__text {
  font-family: Lato;
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #232323;
  padding-top: 35px;
  max-width: 360px;
}