*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.wrapper {
	font-family: 'Lato', sans-serif;
}
.header {
	margin-top: 97px;
}
.header__row {
	display: flex;
	justify-content: space-between;
}
.header__menu {
	
}
.header__links {
	display: flex;
}
.header__links li{
margin-left: 77px;
}

.header__links li:nth-child(1) a{
	font-size: 20.9px;
	line-height: 1.2;
	letter-spacing: -0.025em;
	font-weight: 700;
	color: #232323;
	text-shadow: 0 1px 0 #232323;
	}

.header__links li a{
font-size: 20.9px;
line-height: 1.2;
letter-spacing: -0.025em;
font-weight: 300;
color: #898991;
}

.header__button {
text-align: center;
padding-top: 10px;
width: 218px;
height: 57px;
border: 3px solid #232323;
border-radius: 5px;
font-size: 20.9px;
line-height: 1.2;
font-weight: 700;
letter-spacing: -0.025em;
color: #232323;
text-shadow: 0 1px 0 #232323;
}
.button {
}
.content {
}
.title{
	font-family: 'Cardo', serif;
}
.travel-to-dream {
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.create-a-memory {
}
.articles {
}
.see-places {
}
.big-photos {
}
.choose-anywhere {
}
.list {
}
.here-what-to-say-title {
}
.customers {
}
.form {
}
.footer {
}